body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @import-normalize; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.containerLogin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.formCardLogin {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 25em;
  width: 22em;
  background-color: rgba(255, 255, 255, 0.932);
  min-width: 12em;
  min-height: 15em;
  border-radius: 10px;
  z-index: 0;
  margin-bottom: 6rem;
}

.card-body {
  width: 90%;
  flex: 1
}

.titleLoginForm {
  text-align: center;
  align-items: flex-start;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: rgb(78, 78, 78);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputLoginForm {
  display: block;
  margin-top: 2%;
  height: 2.4rem;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: rgb(78, 78, 78);
  position: relative;
  background-color: rgba(233, 230, 230, 0.76);
  border-radius: 5px;
  border: 1px solid rgb(187, 187, 187);
  padding-left: 10px;
}

.backgroundImage {
  background-image: url('./assets/img/lavado.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundImage::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.342);
}

.labelForm {
  color: rgb(78, 78, 78);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.card-footer {
  text-align: center;
  font-size: 12px;
  width: 80%;
}

.submitForm {
  background-color: #007dc1;
  border-radius: 5px;
  border: 1px solid #007dc1;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  height: 2.4rem;
  display: block;
}


.submitForm:disabled {
  background-color: #838485;
  border-radius: 5px;
  border: 1px solid #838485;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  height: 2.4rem;
  display: block;
}

.submitForm:active:hover {
  background-color: #0061a7;
}

.submitForm:active {
  position: relative;
  top: 1px;
}

.loginError {
  border: 1px solid red
}

.admin-page {
  flex-direction: column;
}

.admin-page>* {
  flex: 1 100%;
}

.navbar {
  display: flex;
  background-color: #007dc1;
  color: aliceblue;
  max-height: 50px;
  align-items: center;
  justify-content: space-between;
}

.titlePage {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-decoration: underline;

}


.contenedorTabla {
  flex: 1;
  max-width: 45%;

}

.tituloTabla {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: rgb(78, 78, 78);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.tablaUsuarios {
  display: block;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  height: 290px;
}

table,
td {
  border: 1px solid rgb(206, 206, 206);
  border-collapse: collapse;
  width: 33%;
  font-size: 16px;
}

.tablaHeader {
  width: 100%;
  font-size: 16px;
  color: #FFF;
  background-color: gray;
}

.botonesModal {
  width: 100%;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;

}

.emailUsuarios {
  padding: 10px;
  margin-left: 10px;
  width: 200px;
}

.oficialRegister {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 25em;
  width: 22em;
  background-color: rgba(255, 255, 255, 0.932);
  min-width: 12em;
  min-height: 15em;
  border-radius: 10px;
  z-index: 0;
  padding-bottom: 1rem;
}

.contenedorExamen {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
}


.cuadrillaResultados {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.imagenPersona {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}


.descripcionExamen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12em;
  margin: 10px 20px 10px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 9px 35px -9px rgba(71, 71, 71, 0.59);
  -moz-box-shadow: 0px 9px 35px -9px rgba(71, 71, 71, 0.59);
  box-shadow: 0px 9px 35px -9px rgba(71, 71, 71, 0.59);
}

.contenedorCalificacion {
  display: flex;
  flex-direction: row;
  font-size: 1em;
}


.nombreUsuarioExamen {
  flex: 1;
  font-size: 1em;
  cursor: pointer;
}

.nombreUsuarioExamen:hover {
  text-decoration: underline;
}

.calificacionExamen {
  margin-right: 5px;
  margin-left: 10px;
}

.eliminarEvaluacion {
  margin-bottom: 5px;
  color: #b92929;
  cursor: pointer;
}

/* MEDIA QUERYS Mobile first */



@media only screen and (min-width:201px) and (max-width: 767.9px) {

  /* NAVBAR DE ADMINISTRACION */
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .tituloApp {
    display: flex;
  }

  .tituloText {
    font-size: 28px;
    font-weight: 600;
    margin-left: 1rem;
  }

  .contenedorLinks {
    display: flex;
    margin-right: 2.5em;
  }

  .link {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.5em 0.5em;
  }

  .link:hover {
    transition: 0.4s;
    background: #086992;
    color: white;
    display: block;
    font-weight: 600;
  }

  .btnsalir {
    color: white;
    text-decoration: none;
    padding: 0.5em 0.5em;
  }

  .btnsalir:hover {
    transition: 0.4s;
    font-weight: 600;
    background: #dd5959cc;
    color: white;
  }

  .admin-page {
    flex-direction: column;
  }

  .formCardRegister {
    width: 40%;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  .cardbodyRegister {
    width: 100%;
  }

  .contenedorTabla {
    max-width: 80%;
    margin-left: 10%;
  }


  .contenedorExamen {
    margin-left: 3%;
    margin-right: 3%;
  }

  .contenedorPregunta {
    margin-left: 20px;
    margin-right: 20px;
  }

  .descripcionExamen {
    width: 10em;
  }

}


@media (min-width:768px) {

  /* NAVBAR DE ADMINISTRACION */
  .navbar {
    display: flex;
    background-color: #007dc1;
    color: aliceblue;
    align-items: center;
    justify-content: space-between;
  }

  .tituloApp {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    margin-left: 1rem;
  }

  .tituloText {
    letter-spacing: 2px;
    margin-left: 1em;
    font-size: 28px;
    font-weight: 600;

  }

  .contenedorLinks {
    display: flex;
  }


  .link {
    color: white;
    text-decoration: none;
    padding: 0.98em 1em;
  }

  .link:hover {
    transition: 0.4s;
    background: #086992;
    color: white;
    display: block;
    font-weight: 600;
  }


  .btnsalir {
    color: white;
    text-decoration: none;
    padding: 0.98em 1em;
  }

  .btnsalir:hover {
    transition: 0.4s;
    font-weight: 600;
    background: #dd5959cc;
    color: white;
  }

  .containerAdmin {
    flex: 1;
    justify-content: space-around;
    display: flex;
    columns: 2;
  }


  .formCardRegister {
    flex: 1;
    min-width: 320px;
    max-width: 35%;
    margin-left: 5%;
  }

  .columnaNombre {
    max-width: 140px;
    word-wrap: break-word;
  }

  .columnaAcciones {
    width: 50px;
  }

  .card-oficialRegister {
    margin-left: 0;
  }

  .contenedorExamen {
    margin-right: 13%;
    margin-left: 13%;
  }

  .contenedorPregunta {
    margin-right: 100px;
    padding-left: 40px;
  }

  .estilosPregunta {
    letter-spacing: 1.5px;
  }

  .descripcionExamen {
    width: 9em;
  }
}

@media (min-width:1100px) {

  .formCardRegister {
    width: 35%;
    max-width: 380px;
  }

  .tituloTabla {
    max-width: 680px;
  }

  .columnaNombre {
    max-width: 260px;
  }

  .columnaAcciones {
    width: 50px;
  }

  .contenedorExamen {
    margin-right: 13%;
    margin-left: 13%;
  }

  .descripcionExamen {
    width: 20%;
  }

}